---
title: Visify.js
tags: HTML, Javascript, jQuery, jQuery Plug-in
---

<div class="image">
  <%= image_tag "visify.jpg" %>
  <h3>Visify.js</h3>
</div>
<p>There are a lot of existing charting libraries available as plug-ins for jQuery, but many of them were either ugly or don't provide the functionality that I needed. When showing related data stacked bar charts are a great solution.</p>
READMORE
<p class="separator"><i class="icon-circle"></i> <i class="icon-circle"></i> <i class="icon-circle"></i></p>
<p></p>
<p><strong>Website:</strong> <a href="http://danielwestendorf.github.com/Visify.js/">http://danielwestendorf.github.com/Visify.js/</a></p>
<p><strong>Source:</strong> <a href="https://github.com/danielwestendorf/Visify.js/m">https://github.com/danielwestendorf/Visify.js/</a></p>