---
title: Eva Shtern Portfolio
tags: HTML, Javascript, jQuery, Responsive Web Design
---

<div class="image">
  <%= image_tag "evashtern.jpg" %>
  <h3>Eva Shtern's Portfolio</h3>
</div>
<p>Eva needed a low cost, low tech, solution to publish her work. She brought the design, I wrote the HTML and Javascript to make it happen.</p>
READMORE
<p><strong>Website:</strong> <a target="_blank" href="http://evashtern.com">http://evashtern.com</a></p>
