---
title: Visify.js
tags: HTML, Javascript, jQuery, jQuery Plug-in, Canvas, Open Source
image: visify.jpg
blurb: When I created Visify.js there were a lot of existing charting libraries available as plug-ins for jQuery, but many of them were either ugly or don't provide the functionality that I needed. When showing related data stacked bar charts are a great solution. Visify.js was created to show data transfers for network clients, showing upload, download, and total amounts of data transfered.
---
READMORE
<div class="image">
  <%= image_tag data.page.image %>
  <h3><%= data.page.title %></h3>
</div>
<p><%= data.page.blurb %></p>
<p class="separator"><i class="icon-circle"></i> <i class="icon-circle"></i> <i class="icon-circle"></i></p>
<p>Visify.js utilizes the Canvas element to draw the represented data. It supports multiple instances of graphs on one page, and can be customized to represent different data (Bytes, Numbers, Currency), use specified colors, and even a specified font.</p>
<p><strong>Demo:</strong> <a target="_blank" href="http://danielwestendorf.github.com/Visify.js/">http://danielwestendorf.github.com/Visify.js/</a></p>
<p><strong>Source:</strong> <a target="_blank" href="https://github.com/danielwestendorf/Visify.js/">https://github.com/danielwestendorf/Visify.js/</a></p>