---
title: Snake
tags: Open Source, HTML, Canvas, Javascript, CoffeeScript
---

<div class="image">
  <%= image_tag "snake.jpg" %>
  <h3>Snake</h3>
</div>
<p>Everybody who had a classic Nokia cell phone remembers the game Snake. What better game to replicate in the browser?</p>
READMORE
<p>Built using HTML5 Canvas, Javascript (specifically CoffeeScript), enjoy the nostalgia overload of playing this game.</p>
<p class="separator"><i class="icon-circle"></i> <i class="icon-circle"></i> <i class="icon-circle"></i></p>
<p><strong>Demo:</strong> <a target="_blank" href="http://snake.coon-and-friends.com/">http://snake.coon-and-friends.com/</a></p>
<p><strong>Source:</strong> <a target="_blank" href="http://github.com/danielwestendorf/Snake">https://github.com/danielwestendorf/Snake</a></p>