---
title: SnowRiders
tags: Rails, Ruby, HTML, Javascript, jQuery, Responsive Web Design, Heroku
---

<div class="image">
  <%= image_tag "snowriders.jpg" %>
  <h3>The SnowRiders</h3>
</div>
<p>The SnowRiders are a group of Bostonians who organize skiing and snowboarding trips in the North Eastern United States who needed an on-line presence to advertise and sell tickets.</p>
READMORE
<p>The SnowRiders sell trips, tickets to events, and even host custom events. What they ended up needing was a full-on booking system that allowed them to host dynamic marketing content. The resulting website was able to fulfill these needs easily.</p>
<p class="separator"><i class="icon-circle"></i> <i class="icon-circle"></i> <i class="icon-circle"></i></p>
<p>It was built using <a target="_blank" href="http://www.rubyonrails.org">Ruby on Rails</a>, hosted on <a target="_blank" href="http://heroku.com">Heroku</a>, and using a responsive web design created by <a target="_blank" href="http://www.lbombs.com/">Terry Diamond</a>. I was able to utilize a number of interesting tools such as <a target="_blank" href="http://activeadmin.info/">ActiveAdmin</a> for back-end management and integration with <a target="_blank" href="https://stripe.com/">Stripe</a> for payment processing.</p>
<p><strong>Website:</strong> <a target="_blank" href="http://thesnowriders.com">http://thesnowriders.com</a></p>
