---
title: Thumper
tags: OSX, MacRuby, Cocoa, Open Source
---

<div class="image">
  <%= image_tag "thumper.jpg" %>
  <h3>Thumper</h3>
</div>
<p>I love music. I also have a lot of it. I found that simply loading music on an iPod wasn't practical for the type of listening I do, so I started looking for a way to access all my music from any Internet connected device. What I found was <a href="http://subsonic.org">Subsonic</a>.</p>
READMORE