---
title: Workout Book
tags: Open Source, Javascript, Backbone.js, LocalStorage, Responsive Web Design, Canvas
---

<div class="image">
  <%= image_tag "workoutbook.jpg" %>
  <h3>Workout Book</h3>
</div>
<p>Staying in good physical health is important to me, but sometimes it is hard to measure my accomplishments. Measuring performance gives one a sense of accomplishment, especially when the numbers go up. I was wanting to check out <a target="_blank" href="http://backbonejs.org/">Backbone.js</a> for a long time, and this provided a perfect opportunity.</p>
READMORE
<p class="separator"><i class="icon-circle"></i> <i class="icon-circle"></i> <i class="icon-circle"></i></p>
<p>Workout Book uses the browser's localStorage to persist workout data. Backbone.js is then used to manage that data and tie it to the UI. A Canvas based line graphing library illustrates your performance over time. <a targe="_blank" href="http://www.getskeleton.com/">Skeleton</a> was implemented so that Workout Book would be usable on desktop, tablet, and mobile devices.</p>
<p><strong>Website:</strong> <a target="_blank" href="http://workouts.coon-and-friends.com/">http://workouts.coon-and-friends.com/</a></p>
<p><strong>Source:</strong> <a target="_blank" href="http://github.com/danielwestendorf/WorkoutBook">http://github.com/danielwestendorf/WorkoutBook</a></p>