---
title: Thumper
tags: OSX, MacRuby, Ruby, Cocoa, Open Source
image: thumper.jpg
blurb: I love music. I also have a lot of it. I found that simply loading music on an iPod wasn't practical for the type of listening I do, so I started looking for a way to access all my music from any Internet connected device. What I found was <a target="_blank" href="http://subsonic.org">Subsonic</a>. At the time there wasn't a good OS X client for Subsonic, so I created Thumper.
---
READMORE
<div class="image">
  <%= image_tag data.page.image %>
  <h3><%= data.page.title %></h3>
</div>
<p><%= data.page.blurb %></p>
<p class="separator"><i class="icon-circle"></i> <i class="icon-circle"></i> <i class="icon-circle"></i></p>
<p>Prior to Thumper, the only native client that existed for OS X was an <a href="http://www.nonpixel.com/subair/">Adobe Air</a> application. It lacked a number of key features that were important to me, such as the ability to control playback via the media keys on the keyboard, and persistent playlists.</p>
<p>Up until this point, I had never developed a desktop application for OS X, so it was a bit of an experiment. Wanting to avoid the overhead of needing to learn Objective-C for this experiment, I chose to try out <a href="http://macruby.org/">MacRuby</a>. MacRuby ended up being a good choice; it eased the learning curve of learning OS X development.</p>
<p class="separator"><i class="icon-circle"></i> <i class="icon-circle"></i> <i class="icon-circle"></i></p>
<p>Thumper launched in Apple's Mac App Store in May of 2010 selling at $9.99, later going down to $4.99. Since that time, Thumper has grossed nearly $2,500.</p>
<p>On January, 1 2013, I released Thumper as an open source project.</p>
<p><strong>Website:</strong> <a target="_blank" href="http://thumperapp.com">http://thumperapp.com</a></p>
<p><strong>Source:</strong> <a target="_blank" href="http://github.com/danielwestendorf/Thumper">http://github.com/danielwestendorf/Thumper</a></p>