---
title: jQuery.GreyScaleImage
tags: Open Source, HTML, Canvas, Javascript, jQuery
---

<div class="image">
  <%= image_tag "greyscale.jpg" %>
  <h3>jQuery.GreyScaleImage</h3>
</div>
<p>Create a greyscale image rollover effect client side.</p>
READMORE
<p>Built using HTML5 Canvas, Javascript, avoid the server side work and network overhead of creating greyscale versions of images.</p>
<p class="separator"><i class="icon-circle"></i> <i class="icon-circle"></i> <i class="icon-circle"></i></p>
<p><strong>Demo:</strong> <a target="_blank" href="http://www.coon-and-friends.com/greyscale-demo.html">http://www.coon-and-friends.com/greyscale-demo.html</a></p>
<p><strong>Source:</strong> <a target="_blank" href="http://github.com/danielwestendorf/jquery.greyscaleImage">https://github.com/danielwestendorf/jquery.greyscaleImage</a></p>